/* style.css */

body {
    font-family: 'EB Garamond', serif; /* Updated to EB Garamond */
    text-align: center; /* Center-align text */
    margin: 0; /* Remove default margin */
    background-color: #a2cffe; 
}

#container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
}

#image-container {
    /* This container will hold the images */
}

#question {
    font-family: 'EB Garamond', serif; 
    font-size: 52px; 
}

#options {
    margin-top: 20px; /* Add space above the options */
}

button {
    padding: 10px 20px;
    margin: 0 10px; 
    font-size: 26px; 
    font-family: 'EB Garamond', serif;
    background-color: #d3d3ff; /* Set button background color */
    color: black; /* Set text color to white */
    border: none; /* Remove button border */
    cursor: pointer; /* Set cursor to pointer on hover */
}
